<br>
<div class = "row justify-content-center">
  <%= image_tag("rat-looking-right.svg", class: "img-thumbnail") %>
  <%= image_tag("cockroach-silhouette.svg", class: "img-thumbnail") %>
  <%= image_tag("rat-looking-right.svg", class: "img-thumbnail") %>
</div>
<br>
