<br>
<div class = "row justify-content-center">


  <%= image_tag("cockroach-silhouette.svg", class: "img-thumbnail bg-light") %>
  <%= image_tag("rat-looking-right.svg", class: "img-thumbnail bg-light ") %>
  <%= image_tag("fly-shape.svg", class: "img-thumbnail bg-light") %>

</div>

<p class = "center">
  Updated Daily, search by zip below or view a list above
</p>

</div>

<div ="top">

</div>

<br>
