
  <% content_for :javascript_includes do %>
  <%= javascript_include_tag "bronx.js" %>
  
<% end %>


<h1 class = "boro-header"></h1>

<div class = "container">
<div id = "bronx">
  <%# all bronx api information dispalyed here %>
</div>
</div>



