  <% content_for :javascript_includes do %>
  <%= javascript_include_tag "manhatten.js" %>
  
<% end %>
<h1 class = "boro-header">manhatten</h1>

<div class = "container">
<div id = "manhatten">
  <%# all manhatten api information dispalyed here %>
</div>
</div>

