  <% content_for :javascript_includes do %>
  <%= javascript_include_tag "statenisland.js" %>
  
<% end %>

<h1 class = "boro-header"></h1>

<div class = "container">
<div id = "statenisland">
  <%# all statenisland api information dispalyed here %>
</div>
</div>